.about-section {
  padding: 80px 50px;
  color: #333;
  margin-bottom: 6%;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  gap: 50px;
  flex-wrap: wrap;
}

.about-text {
  flex: 1 1 500px;
}

.about-text h2 {
  color: #004aad;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 15px;
}

.about-image {
  flex: 1 1 400px;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Responsive */
@media (max-width: 1024px) {
  .about-container {
    gap: 30px;
  }
  .about-text h2 {
    font-size: 2rem;
  }
  .about-text p {
    font-size: 1rem;
    text-align: justify;
  }
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }
  .about-text,
  .about-image {
    flex: 1 1 100%;
  }
  .about-text h2 {
    font-size: 1.8rem;
  }
  .about-text p {
    font-size: 0.95rem;
  }
}
