.cta-section {
  background-color: #004aad;
  color: white;
  padding: 80px 50px;
  text-align: center;
}

.cta-content h2 {
  font-size: 2.8rem;
  margin-bottom: 20px;
}

.cta-content p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.cta-button {
  background-color: #ffd700;
  color: #004aad;
  padding: 15px 30px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  transition: 0.3s;
}

.cta-button:hover {
  background-color: #ffc107;
}


@media (max-width: 768px) {
  .cta-content h2 {
    font-size: 1rem;
  }
  .cta-content p {
    font-size: 1rem;
    text-align: justify;
  }
}

